# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv*/
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.sqlite3
db.sqlite3
media/

# Secrets
emoterush/secrets.py

# Static files
staticfiles/

# Virtual environment (specific to your setup)
venvER/

# IDEs
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Misc
*.bak        # Backup files (e.g., db.sqlite3.bak)
*.swp        # Vim swap files